@media screen and (max-width: 767px) {
  .cast {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .castItem {
    width: 300px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0 auto;
  }
  .castActive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .castItem {
    width: 250px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .cast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0;
    list-style: none;
  }
  .castItem {
    width: 300px;
    height: 80px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
  }
}

.castImg {
  display: block;
  width: 100px;
  max-width: 100px;
  background-color: rgb(168, 168, 168);
  border-radius: 7px;
  margin: 0;
}

.name {
  font-size: 18px;
  font-weight: 900;
  color: black;
  margin: 18px 0 5px 20px;
}

.character {
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 600px;
  color: black;
}
/* .overlay {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 8px;
}
.overlay::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%);
  transition: background 350ms ease-in-out, transform 350ms ease-in-out;
}
.castItem:hover .overlay,
.castItem:focus .overlay {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
} */

/* .info {
  position: absolute;
  align-items: center;
  padding: 40px 10px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: background 350ms ease-in-out, transform 350ms ease-in-out;
}
.castItem:hover .info,
.castItem:focus .info {
  opacity: 1;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.7);
} */

.loadMore {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  align-content: center;
  align-items: center;
  height: 46px;
  padding: 10px 26px;
  border: none;
  background: linear-gradient(to right, rgb(96, 255, 255), rgb(0, 162, 255));
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}
.overlay {
  display: flex;
  height: inherit;
}
.info {
  width: 100%;
}
